// Blog post

.blog-content {
    background-color:rgb(248,137,92);
    width: 80vw;
    margin: 40px auto;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;

    // Blog image

    img {
        width: 100%;
        border-radius: 10px;
    }

    // Blog title and main text

    h2 {
        margin: 20px 0px;
        color: white;
        text-shadow: 2px 2px #ba4853;
    }
    
    p {
        color: white;
        margin: 10px 0;
    }

    .date-posted {
        font-weight: bold;
    }

    // Navigation buttons for next/prev blog and back to main blog page

    .blog-nav {
        margin-top: 30px;
        align-self: center;
    }
}



// MEDIA QUERIES

// For desktops

@media only screen and (min-width: 768px) {

    .blog-content {
        max-width: 900px;
    }
}