.blog-list {
    background-color:rgb(248,137,92);
    // width: 80vw;
    margin: 0px 40px 40px 40px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    img {
        width: 100%;
        border-radius: 10px;
    }

    p {
        color: white;
        margin: 10px 0;
    }

    h2 {
        margin: 20px 0px;
        color: white;
        text-shadow: 2px 2px #ba4853;
    }

    a {
        text-decoration: none;
    }

}

.read-more {
    text-decoration: none;
    margin-top: 20px;
    background-color: rgb(249,163,162);
    padding: 10px 15px;
    box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
    border-radius: 7px;
    color: white;
}

// STYLING FOR TABLETS

@media only screen and (min-width: 600px) {

    .blog-list {
        max-width: 580px;
        margin: 40px auto;
    }

}


// STYLING FOR DESKTOP

@media only screen and (min-width: 768px) {

    .blog-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .blog-list {
            width: 40%;
            margin: 30px;
        }
    }

}