.message-form {
    background-color:rgb(248,137,92);
    margin: 0px 40px 40px 40px;
    padding: 25px;
    border-radius: 20px;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        label {
            text-align: left;
            font-size: 1rem;
            margin: 15px 0 10px 0;
            color: white;
            // font-size: 0.9em;
        }

        input[type=text],
        input[type=email],
        textarea {
            border-radius: 7px;
            border: none;
            padding: 12px 10px;
            font-family: 'Mulish', sans-serif;
            font-size: 0.8em;
        }

        input[type=submit] {
            background-color: rgb(249,163,162);
            box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
            border-radius: 7px;
            color: white;
            padding: 14px 20px;
            margin: 25px 0 8px 0;
            border: none;
            cursor: pointer;
          }
          
        input[type=submit]:hover {
            background-color: rgb(232,96,94);
        }
    }

    p {
        color: white;
        text-align: center;
        font-size: 1.2em;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(248,137,92);
    margin: 0px 40px 40px 40px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;

    p {
        color: white;
        font-size: 1.2em;
    }

    img {
        width: 40px;
        margin: 30px 10px 0 20px;
    }


}





// STYLING FOR TABLETS

@media only screen and (min-width: 600px) {

    // limits width of contact form on larger devices

    .message-form,
    .socials {
        width: 515px;
        margin: 40px auto;
    }
    
}


// STYLING FOR DESKTOP

@media only screen and (min-width: 768px) {

}