* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/images/pink-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

body {
  font-family: 'Mulish', sans-serif;
}

.main-title {
  color: white;
  text-shadow: 2px 2px #ba4853;
  margin: 30px 0px;
  text-align: center;
}

p {
  line-height: 1.7;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(233, 77, 81, 0.9);
}

.footer p {
  color: #f8d1d1;
}

.nav {
  background-color: rgba(246, 159, 113, 0.9);
  text-align: center;
  height: 70px;
  line-height: 70px;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: white;
  margin: 0 40px;
  line-height: 70px;
  text-transform: uppercase;
}

.menu a:hover {
  color: #ba4853;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 767px) {
  .nav label {
    display: block;
    cursor: pointer;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    float: right;
    color: white;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #EAEAEB;
  }
  .menu a {
    background-color: rgba(246, 159, 113, 0.9);
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .menu .active {
    color: white;
    background-color: #f37145;
  }
  #toggle:checked + .menu {
    display: block;
    position: absolute;
    top: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .nav label {
    display: none;
  }
  .menu .active {
    border-bottom: 2px solid #ba4853;
    padding-bottom: 7px;
    color: #ba4853;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-content {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-content h1 {
  color: white;
  text-shadow: 2px 2px #ba4853;
  margin: 12px;
}

.home-content h2 {
  color: white;
  text-shadow: 2px 2px #ba4853;
  margin: 12px;
}

.page-link {
  text-decoration: none;
  margin-top: 50px;
  background-color: coral;
  padding: 10px 15px;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .home-content h1 {
    font-size: 6vw;
  }
  .home-content h2 {
    font-size: 3vw;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile img {
  width: 50%;
  margin: 0 auto;
}

.profile .bio {
  background-color: #f8895c;
  color: white;
  margin: 40px 40px 0 40px;
  padding: 0px 20px;
  border-radius: 20px;
}

.profile p {
  margin: 20px 0;
}

.skills {
  background-color: #f8895c;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills h3 {
  text-align: center;
  color: white;
}

.skills .skill-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.skills .skill-icons img {
  width: 20%;
  margin: 0px 5px;
  max-width: 80px;
}

.resume {
  background-color: #f8895c;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume img {
  width: 45px;
  margin-top: 15px;
}

.resume h3 {
  text-align: center;
  color: white;
}

@media only screen and (min-width: 600px) {
  .profile img {
    max-width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .profile .bio {
    max-width: 80vw;
  }
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 40px auto;
    max-width: 80vw;
  }
  .experience .skills,
  .experience .resume {
    width: 40%;
    margin: 0 10px;
  }
}

.projects {
  background-color: #f8895c;
  margin: 40px;
  padding: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects img {
  width: 100%;
  border-radius: 10px;
}

.projects h2 {
  color: white;
  text-shadow: 2px 2px #ba4853;
  text-align: center;
  margin: 20px;
}

.projects p {
  color: white;
}

.projects a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .projects {
    max-width: 520px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 768px) {
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80vw;
    max-width: 1000px;
    margin: 40px auto;
  }
  .projects img {
    width: 30vw;
    padding: 0;
    margin: 0;
  }
  .projects .project-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin-left: 20px;
  }
  .projects .project-text h2 {
    margin: 0 0 15px 0;
  }
}

.blog-list {
  background-color: #f8895c;
  margin: 0px 40px 40px 40px;
  padding: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.blog-list img {
  width: 100%;
  border-radius: 10px;
}

.blog-list p {
  color: white;
  margin: 10px 0;
}

.blog-list h2 {
  margin: 20px 0px;
  color: white;
  text-shadow: 2px 2px #ba4853;
  text-align: left;
}

.blog-list a {
  text-decoration: none;
}

.read-more {
  text-decoration: none;
  margin-top: 20px;
  background-color: #f9a3a2;
  padding: 10px 15px;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  color: white;
}

.read-more:hover {
  background-color: #e8605e;
}

@media only screen and (min-width: 600px) {
  .blog-list {
    max-width: 580px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 768px) {
  .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-container .blog-list {
    width: 40%;
    margin: 30px;
  }
}

.blog-content {
  background-color: #f8895c;
  width: 80vw;
  margin: 40px auto;
  padding: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.blog-content img {
  width: 100%;
  border-radius: 10px;
}

.blog-content p {
  color: white;
  margin: 10px 0;
}

.blog-content h2 {
  margin: 20px 0px;
  color: white;
  text-shadow: 2px 2px #ba4853;
}

.blog-content .blog-nav {
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog-content .date-posted {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .blog-content {
    max-width: 900px;
  }
}

.message-form {
  background-color: #f8895c;
  margin: 0px 40px 40px 40px;
  padding: 25px;
  border-radius: 20px;
}

.message-form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.message-form form label {
  text-align: left;
  font-size: 1rem;
  margin: 15px 0 10px 0;
  color: white;
}

.message-form form input[type=text],
.message-form form input[type=email],
.message-form form textarea {
  border-radius: 7px;
  border: none;
  padding: 12px 10px;
  font-family: 'Mulish', sans-serif;
  font-size: 0.8em;
}

.message-form form input[type=submit] {
  background-color: #f9a3a2;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  color: white;
  padding: 14px 20px;
  margin: 25px 0 8px 0;
  border: none;
  cursor: pointer;
}

.message-form form input[type=submit]:hover {
  background-color: #e8605e;
}

.message-form p {
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8895c;
  margin: 0px 40px 40px 40px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

.socials p {
  color: white;
  font-size: 1.2em;
}

.socials img {
  width: 40px;
  margin: 30px 10px 0 20px;
}

@media only screen and (min-width: 600px) {
  .message-form,
  .socials {
    width: 515px;
    margin: 40px auto;
  }
}
/*# sourceMappingURL=style.css.map */